
// Base variables redefinitions
$family-sans-serif: Josefin Sans, sans-serif
$family-serif: Crimson Text, serif
$primary: #A40A3C
$secondary: #6B0848
$tertiary: #EC610A
$footer-background-color: white

$border-color: #eff0f1
